* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */
.search {
  display: flex;
  gap: 100px;
  background-color: #f8f8f8;
  align-items: center;
  border: 12px;
}

.header-symbol {
  max-width: 24px;
}

.hiderImg {
  max-width: 56px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.headerRight {
  display: flex;
  gap: 30px;
  align-items: center;
}

.search-text {
  font-size: 14px;
  opacity: 50%;
  color: #111111;
}

.goPro {
  font-size: 14px;
  color: #ff2288;
}

.upload {
  background-color: #ff2288;
  padding: 17px 40px 20px 36px;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  color: #ffffff;
}

/* table */
.parent1 {
  max-width: 1231px;
  width: 100%;
  margin: auto;
}

table {
  width: 100%;
  margin-top: 100px;
  /* border-collapse: collapse; */
}

tr {
  text-align: left;
  color: #afafaf;
  /* border: none; */
}

th {
  padding-bottom: 62px;
}

td {
  /* border: 1px solid;
  border-left: none;
  border-right: none; */
  border-bottom: 1px solid;
  padding: 25px;
}
